.heroes-oll-slider{
  max-width: 210px;
  margin: 7px;
  width: 210px;
  height: 110px;
  box-shadow: inset 20px -20px 20px black, inset -1em 40px 1em black;
  border-radius: 10px;
}

.chaing-img-slider{
  margin: 7px auto;
  border-radius: 5px;
  width: 90%;
}

.name-heroes-slider{
  width: 150px;
  position: absolute;
  margin: 0;
  text-align: start;
  padding: 80px 0px 0px 20px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;

}
