.big-foto-one{
  width: 800px;
  height: 450px;
  background-image: url(./b379c4ceb1ec82db9c1d01ea4c7f1765aea9e0dd.png);
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: inset 100px 3px 100px black, inset -5em 0 5em black;
}

.dragonsblood-bacgraund{
  background-image: url(./soudzqsf.png);
  padding: 100px 290px;
  text-align: center;
}

.main-text-big{
  margin: 0;
  font-size: 46px;
  color: white;
  font-family: 'Neucha', cursive ;
}

.main-text-litle{
  font-size: 25px;
  color: #888888;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.oll-text-peg{
  margin: 50px 0 0 0;
  color: #D1D1D3 ;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 21px;
  box-shadow: inset 200px 100px 400px black ;

}


.big-foto-two{
  background-image: url(./second-big.jpg);
}

.big-foto-three{
  background-image: url(./big-three.jpg);
}

.big-foto-fore{
  background-image: url(./big-fore.png);
}

.big-foto-five{
  background-image: url(./big-five.png);
}

.big-foto-six{
  background-image: url(./big-six.jpg);
}

.big-foto-seven{
  background-image: url(./big-seven.jpg);
}

.big-foto-eight{
  background-image: url(./big-eight.jpg);
}

.big-foto-nine{
  background-image: url(./big-nine.png);
}

.big-foto-ten{
  background-image: url(./big-ten.jpg);
}

.big-foto-eliven{
  background-image: url(./big-eliven.jpg);
}

.big-foto-twelve{
  background-image: url(./default.webp);
}